h1{
  font-family: 'Montserrat-black', sans-serif;
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h2{
  font-family: 'Montserrat-bold';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
}

h3{
  font-family: 'Montserrat-bold';
  line-height: 1.5rem;
  font-weight: bold;
}

p{
  color: #8f8f8f;

}

body{
  font-family: 'Montserrat', sans-serif;
}

.container-fluid{
  padding: 3% 15%;
}

.iphone-img{
  transform: rotate(25deg);
  width: 60%;
}

.navbar{
  padding: 0 0 4.5rem 0;

}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}

.download-btn{
  margin: 5% 3% 5% 0;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ff4c68;
  margin-bottom: 5%;

}

.tes-img{
  border-radius: 100%;
  width: 15%;
  margin: 20px;
}

.press-img{
  width: 300px;
  padding: 3% 5%;
}

.tes-class{
  padding: 7% 25%;
}

#title{
  background-color: #ff4c68;
}

#testimonials{
  background-color: #ff4c68;

  text-align: center;
  color: #fff;
}

#press{
  background-color: #ff4c68;
  padding: 3% 10%;
  text-align: center;
}
